include components/head.admin.pug
.content-wrapper
  // Content Header (Page header)
  section.content-header
    .container-fluid
      .row.mb-2
        .col-sm-6
          h1 Protypes
        .col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item
              a(href='#') Home
            li.breadcrumb-item.active Protypes
    // /.container-fluid
  // Main content
  section.content(style='padding-right: 10px;')
    // Default box
    .card
      .card-header
        h3.card-title Protypes
        .card-tools
          button.btn.btn-tool(type='button' data-card-widget='collapse' title='Collapse')
            i.fas.fa-minus
          button.btn.btn-tool(type='button' data-card-widget='remove' title='Remove')
            i.fas.fa-times
      .card-body
        table.table.table-striped.projects(style="width:1000px")
          thead
            tr
              th(style='width: 5% ')
                | ID
              th(style='width: 20%')
                | Tên phim
              th(style='width: 20% ')
                | Diễn viên
              th(style='width: 10% ')
                | Đạo diễn
              th(style='width: 15% ')
                | Ảnh
              th(style='width: 5%  ')
                | Action
          tbody
            each data in lists
              tr
                td= data.id
                td= data.tenphim
                td= data.dienvien
                td= data.daodien
                td 
                  img(src='/img/'+ data.anhminhhoa, alt="", srcset="" width="100px" height="100px")
                td.project-actions.text-left
                  a.btn.btn-info.btn-sm(href=`/listphim/edit/`+data.id)
                    i.fas.fa-pencil-alt  
                    |                                     Edit
                  a.btn.btn-danger.btn-sm(href=`/theloai/delete?id= ${data.id}`)
                    i.fas.fa-trash  
                    |                                     Delete
      // /.card-body
    // /.card
  // /.content
// /.content-wrapper
include components/footer.admin.pug